html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    font-family: 'Fira Mono', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

th, td {
    border-bottom: 1px solid rgba(136, 136, 136, 0.20) !important;
}